
<h4>Template: Dinámicos</h4>
<hr>

<form autocomplete="off" 
        #miFormulario="ngForm" 
       >

    <!-- Nombre -->

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                placeholder="Nombre"
                name="nombre"
                [(ngModel)]="persona.nombre"
                required
                minlength="3"
                >

            <span *ngIf="miFormulario.controls['nombre']?.errors
                     && miFormulario.controls['nombre'].touched"
                class="form-text text-danger">
                El nombre es obligatorio
            </span>
        </div>
    </div>


    <!-- Agregar Favorito -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        
        <div class="col-sm-9">
            <div class="input-group">

                <input 
                    class="form-control"
                    placeholder="Agregar favorito"
                    name="nuevoFavorito"
                    [(ngModel)]="nuevoFavorito"
                    (keyup.enter)="agregarFavorito()"
                >
                <button 
                    type="button"
                    (click)="agregarFavorito()"
                    class="btn btn-outline-primary">
                    Agregar
                </button>
            </div>

        </div>

    </div>




    <!-- Lista de lenguajes favoritos -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Listado</label>
        
        <div class="col-sm-9">

            <div class="input-group mb-1" 
                *ngFor="let favorito of persona.favoritos; let i = index" >

                <input class="form-control"
                    name="leng{{ i }}"
                    [(ngModel)]="favorito.nombre"
                    required
                    minlength="3"
                    >
                <button 
                    type="button"
                    (click)="eliminarFavorito(i)"
                    class="btn btn-outline-danger">
                    Eliminar
                </button>
            </div>
            

        </div>

    </div>



    <!-- Boton -->

    <div class="row mb-3">
        <div class="col">
            <button 
            type="button"
            (click)="guardar()"
            [disabled]="miFormulario.invalid"
            class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>



</form>


<h2>Valid</h2>
<pre>{{ miFormulario.valid }}</pre>

<span>Persona</span>
<pre>{{ persona | json }}</pre>
