

<h4>Reactive: Básicos</h4>
<hr>


<div class="row">
    <div class="col">

        <form autocomplete="off" 
            [formGroup]="miFormulario" 
            (ngSubmit)="guardar()">

            <!-- Producto -->

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">

                    <input type="text"
                        class="form-control"
                        placeholder="Introduce el nombre"
                        formControlName="nombre"
                        >

                    
                    <span 
                        *ngIf="campoNoEsValido('nombre')"
                        class="form-text text-danger">
                        {{  getMsgError('nombre')   }}
                    </span>


                </div>


            </div>




            <!-- Precio -->

            <div class="row mb-3">
                <label class="col-sm-3 form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        formControlName="precio"
                        
                        >

                        <span 
                            *ngIf="campoNoEsValido('precio')"
                            class="form-text text-danger">
                            {{  getMsgError('precio')   }}
                        </span>

                </div>
            </div>


            <!-- Existencias -->
            <div class="row mb-3">
                <label class="col-sm-3 form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        formControlName="existencias"
                        >

                        <span 
                            *ngIf="campoNoEsValido('existencias')"
                            class="form-text text-danger">
                            {{  getMsgError('existencias')   }}
                     </span>

                </div>
            </div>


            <!-- Boton -->

            <div class="row">
                <div class="col">
                    <button type="submit" 
                    class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>

            



        </form>



    </div>
</div>


<div class="row">
<div class="col">

    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ miFormulario.touched }}</pre>



    <span>Value</span>
    <pre>{{ miFormulario.value | json  }}</pre>


    <span>Errores del precio</span>
    <pre>{{ miFormulario.get('precio')?.errors | json }}</pre>

    <span>Errores del producto</span>
    <pre>{{ miFormulario.get('nombre')?.errors | json }}</pre>



</div>

</div>