<h4>Registro. <small>Validaciones</small></h4>
<hr>


<div class="row">
    <div class="col">
        <form autocomplete="off"  [formGroup]="miFormulario" (ngSubmit)="guardar()">

            <!-- Nombre - validaciones normales -->
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-7">
                <input type="text"
                    class="form-control"
                    placeholder="Introduce el nombre"
                    formControlName="nombre"
                    >

                <span *ngIf="campoNoEsValido('nombre')"
                    class="form-text text-danger">
                    El nombre es obligatorio
                </span>
            </div>
          </div>



            <!-- Identificador - dni - validación con un patrón. -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Identificador</label>
                <div class="col-sm-7">
                    <input type="text"
                        class="form-control"
                        placeholder="Dni o Nie"
                        formControlName="identificador"
                        >
    
                    <span *ngIf="campoNoEsValido('identificador')"
                        class="form-text text-danger">
                        El dni o nie es obligatorio y de 9 dígitos
                    </span>
                </div>
              </div>
    

            <!-- Email - v. asincronas. -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input type="text"
                        class="form-control"
                        placeholder="email"
                        formControlName="email"
                        >
    
                    <span *ngIf="campoNoEsValido('email')"
                        class="form-text text-danger">
                        El email es obligatorio y válido.
                    </span>
                </div>
              </div>

            <!-- UserName - validación personalizada -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-7">
                    <input type="text"
                        class="form-control"
                        placeholder="Introduce tu userName"
                        formControlName="username"
                        >
    
                    <span *ngIf="campoNoEsValido('username')"
                        class="form-text text-danger">
                        El username es obligatorio y no puede ser carlos
                    </span>
                </div>
              </div>

            <!-- Password1 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-7">
                    <input type="password"
                        class="form-control"
                        placeholder="Introduce tu contraseña"
                        formControlName="password1"
                        >
    
                    <span  *ngIf="campoNoEsValido('password1')"
                            class="form-text text-danger">
                            Contraseña obligatoria y al menos 6 caracteres
                    </span>
                </div>
              </div>


            <!-- Password2 validacion normal y personalizada -iguales  -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-7">
                    <input type="password"
                        class="form-control"
                        placeholder="Repite la contraseña"
                        formControlName="password2"
                        >
    
                    <span *ngIf="campoNoEsValido('password2')"
                        class="form-text text-danger">
                            Contraseña es obligatoria y tienen que ser iguales.
                    </span>
                </div>
              </div>

              <!-- Botón -->
              <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit">
                        Guardar
                    </button>
                </div>
              </div>

        </form>
    </div>
</div>

<hr>

<h5>Valid</h5>
<pre>{{ miFormulario.valid }} </pre>

<h5>Status</h5>
<pre>{{ miFormulario.status }} </pre>

<h5>Password1</h5>
<pre>{{ miFormulario.get('password1')?.errors | json }}</pre>

<h5>Password2</h5>
<pre>{{ miFormulario.get('password2')?.errors | json }}</pre>

<h5>Email</h5>
<pre>{{ miFormulario.get('email')?.errors | json }}</pre>


<h5>userName</h5>
<pre>{{ miFormulario.get('username')?.errors | json }}</pre>


<h5>Identificador</h5>
<pre>{{ miFormulario.get('identificador')?.errors | json }}</pre>