<h4>Selectores</h4>
<hr>



<div class="row">
    <div class="col">
        <form>

            <!-- Regiones -->
            <div class="row mb-3">
                <div clas="col-sm-3">
                    <label class="col-from-label">Regiones</label>
                </div>

                <div clas="col-sm-9">
                    <select class="form-control">
                        <option value="">--Selecciona una región</option>
                    </select>
                </div>
            </div>


            <!-- Paises -->
            <div class="row mb-3">
                <div clas="col-sm-3">
                    <label class="col-from-label">Paises</label>
                </div>

                <div clas="col-sm-9">
                    <select class="form-control">
                        <option value="">--Selecciona un Pais</option>
                    </select>
                </div>
            </div>


            <!-- Fronteras -->
            <div class="row mb-3">
                <div clas="col-sm-3">
                    <label class="col-from-label">Fronteras</label>
                </div>

                <div clas="col-sm-9">
                    <select class="form-control">
                        <option value="">--Selecciona una Frontera</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>

        </form>
    </div>
</div>